@media screen and (orientation: landscape) {

  body {
    display: grid;
    height: 100vh;

    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 10% 1fr 10%;

    grid-template-areas:
      "header  mainnav mainnav"
      "subnav  main    aside"
      "footer  footer  footer";
  }

  header {
    grid-area: header;
  }

  #mainnav {
    grid-area: mainnav;
  }

  #subnav {
    grid-area: subnav;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
}
