@media screen and (orientation: portrait) {

  body {
    display: grid;
    height: 100vh;

    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 10% 1fr 10% 10%;

    grid-template-areas:
      "header header"
      "mainnav mainnav"
      "subnav  main"
      "subnav aside"
      "footer footer";
  }

  header {
    grid-area: header;
  }

  #mainnav {
    grid-area: mainnav;
  }

  #subnav {
    grid-area: subnav;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
}
